/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --bg-color: #000028;
  --color-title: #DB00FF;
  --card-title-color: #000028;
  --hover-color: rgb(255, 0, 112, 0.5);
  --card-list-title-color: #FF0070;
  --card-text-color: #F1B2CE;
  --font-size-base: 18px;
  --font-weight-bold: 700;
}

:root.theme-dark .header__item-decoration {
  display: block;
}